apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: todo-image-storage
          persistentVolumeClaim:
            claimName: todo-app-pvc
      containers:
        - name: todo-app
          image: hainguyen95/todo-app:v3  # Image v3
          ports:
            - containerPort: 5000
          env:
            - name: PORT
              value: "5000"
          volumeMounts:
            - name: todo-image-storage
              mountPath: /usr/src/app/files
