apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: project-production
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/HaiNguyen-python/KubernetesSubmissions.git
    targetRevision: '*'  # Theo dõi các Tag commit
    path: the_project/manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: production
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
