apiVersion: apps/v1
kind: Deployment
metadata:
  name: pingpong-dep
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      containers:
      - name: pingpong
        image: gcr.io/project-5537670b-93d7-476f-9b4/ping-pong:v4.1
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
