apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: hainguyen95/ping-pong:v2 # Image v2 má»›i
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: shared-data
              mountPath: /usr/src/app/data
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: ping-pong-pvc
