name: Deploy to GKE
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GKE_SA_KEY }}
      - uses: google-github-actions/setup-gcloud@v2
      - name: Deploy
        run: |
          gcloud container clusters get-credentials dwk-cluster --zone europe-north1-b
          kubectl apply -f manifests/
